/* Размер текст в пикселях */
html {
  font-size: 18px;
}
/* Относительные единицы измерения: */
.block1 {
  font-size: 2em;
  /* Цвет в шестнадцатеричном формате */
  color: #41c0f0;
  background-color: #d260e0;
}
/* Относительные единицы измерения(относительно корня): */
.block2 {
  font-size: 1.5rem;
  width: 200px;
  height: 200px;
  /* Цвет в rgb формате */
  color: rgb(73, 39, 128);
  background-color: rgb(148, 35, 58);
}
/* Ширина блока 50% от ширины родителя: */
.block3 {
  width: 50%;
  height: 50%;
  /* Цвет rgb с прозрачностью */
  color: rgba(66, 37, 41, 0.8);
  background-color: rgba(228, 237, 102, 0.2);
}
